.text_titol {
    color: yellow;
    background: rgb(168, 48, 48);
    border:double;
    height: 60%;
    width: 30%;
}
#titol {
    background-image: url('imatges/logo.jpg');
    height: 230px;
    display: flex;
    text-align: center;
    justify-content: center;


}
#Exercicis {
    color: rgb(0, 0, 0);
    border: double;
    background: rgba(179, 131, 131, 0.442);
}