body {
    background: linear-gradient(to bottom, #1bbbfd, #ed4d00); 
    background-size: 100% 100%; 
    height: 100%;
    margin: 0;
}
#titol {
    background-image: url('imatges/logo.jpg');
    height: 230px;
    display: flex;
    text-align: center;
    justify-content: center;


}
.text_titol {
    color: yellow;
    background: rgb(168, 48, 48);
    border:double;
    height: 60%;
    width: 30%;
}
#menu-principal{
    background-color: rgb(132, 214, 241);
    color: blue;
    border: 2px solid rgb(37, 169, 240);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: double;
}
.Apartat_Menu {
    color: white;
    text-align: center;
    background-color: rgb(95, 80, 194);
    border: 2px solid rgb(37, 169, 240);
    margin: 20px;
    padding: 20px;
}
.Bohemian {
    display: flex;
    align-items:  center;
    justify-content: center;
}
.Bohemian_text {
    background-color: white;
    display: flex;
    text-align: center;    
    justify-content: center;
    margin: 40px;
}
.Oficial {
    display: flex;
    justify-content: center;
}
.Imatges {
    display: flex;
    justify-content: center;
    
}
.peu_imatges {
    font-size: 24px;
    background-color: white;
}

a {
    text-decoration: none;
}
table, th, td {

    border: 2px double black;
    border-collapse: collapse; 
    padding: 8px;
    text-align: left; 
  }
.videos {
    display: flex;
    justify-content: space-between;
}
.TaulaComponents {
   
    text-align: center;
}
.Albums {
    display: flex;
    justify-content: center;
}